<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>有料会員登録へ</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>有料会員登録</h1>
    <p>Stripeの決済ページへ移動しています...しばらくお待ちください。</p>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const stripe = Stripe('pk_test_51QLGkCKfB0cyZLWcE8PpB89eTFdfMEIkTxiN0h1VqRUrMARjjMx8FexOgYOFW6MPiweiqeelKnSTDgAPa9kwcPcE00kMN8IHB1');
        const sessionId = /*[[${sessionId}]]*/ '';

        stripe.redirectToCheckout({ sessionId: sessionId })
            .then(function (result) {
                if (result.error) {
                    alert('決済ページへの遷移でエラーが発生しました: ' + result.error.message);
                }
            });
        /*]]>*/
    </script>
</body>
</html>
